@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    background-image: url(/Assets/Img/mancha01.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #F9FAFF;
}

.container_header {
    width: 100%;
}

.menu__list__link {
    padding: 20px 0 20px 0;
    gap: 30px;
    display: flex;
    justify-content: flex-end;
}

/*.menu__list__link H6 {
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: flex-start;
}*/

.menu__list__link ul {
    display: flex;
    gap: 48px;
}

.menu__list__link ul li {
    list-style: none;
    display: inline-block;
}

a:link {
    font-family: 'raleway', 'sans-serif';
    font-size: 18px;
    color: white; 
}

/* INTRO */

.container__intro {
    padding-top: 55px;
    width: 486px;

}

.container__intro h5 {
    font-family: 'nunito', sans-serif;
    color: #329542;
}

.container__intro h1 {
    padding-top: 12px;
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: 64px;
}

.container__intro p {
    padding-top: 32px;
    font-family: 'nunito', sans-serif;
    font-size: 24px;
    color: #828282;
    padding-bottom: 32px;
}

.container__button__intro {
    display: flex;
    gap: 12px;
}

.projects__button {
    width: 115px;
    height: 43px;
    border-radius: 8px;
    border: none;
    background-color: #329542;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: white;
}

.linkedin__button {
    width: 115px;
    height: 43px;
    border-radius: 8px;
    background-color: white;
    border: solid 2px #25282B;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: #25282B;
}

/* SKILLS */

.container__skills {
    padding-top: 283px;
}

.container__skills h1 {
    display: block;
    text-align: center;
    font-family: 'playfair display', sans-serif;
    font-size: 48px;
    color: #25282B;
}

.img__skills__line {
    padding-top: 4px;
    display: flex;
    justify-content: center;
}

.container__skills__logos {
    padding-top: 110px;
    display: flex;
    justify-content: space-around;
}


/* MY PROJECTS */

.container__projects {
    padding-top: 115px;
}

.container__projects h1 {
    display: block;
    text-align: center;
    font-family: 'playfair display', sans-serif;
    font-size: 48px;
    color: #25282B;
}

.img__projects__line {
    padding-top: 4px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}


.container__projects__pjone {
    border-radius: 24px;
    height: 524px;
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
}

.project__one, .project__one__img {
    flex: 1;
}

.project__one {
    background-color: white;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.project__one__img {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.project__one__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}



/*.project__one h2 {
    padding: 80px;
    font-family: 'playfair display', sans-serif;
    font-size: 40px;
    color: #25282B; 
}

.project__one p {
    font-family: 'nunito', sans-serif;
    font-size: 18px;
    color: #828282; 
}

.project__one__img {
    display: block;
    

}




